<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name ="connString" connectionString="server=localhost;database=datamanger;user=root;password=root"/>
      <add name="serverIP" connectionString="119.3.54.117:21"/>
    </connectionStrings>
</configuration>